<div class="container">
    <h2>
        {{name}}
    </h2>
    <h2>
        {{birth}}
    </h2>
    <h2>
        {{description}}
    </h2>
    <h2>
        {{cast.name}}
    </h2>


    {{!-- <div>
        <form action="/movies/{{id}}/delete" method="POST">
            <button class="btn btn-sm btn-dark" type="submit">Eliminar</button>
        </form>
        <br>
        <a class="btn btn-md btn-info" href="/movies/{{id}}/edit">Editar</a>

    </div> --}}