<section class="fondo">

    <div class="container cool-nav imgDetails">

        <img src="{{pets.avatar}}" alt="Avatar">

        <h1>
            {{pets.name}}
        </h1>
        <h4>

            Fecha de nacimiento: {{formatDay}}
        </h4>
        <p>
            {{pets.description}}
        </p>
        <h5>
            Albergue al que pertenece: {{pets.cast.name}}
        </h5>
        <h5>
            Dueño: {{pets.owner.username}}
        </h5>

        

        {{#if roles.isOwner}}

        <div>
            <a href="/albergue/formulario-adopcion/{{pets._id}}" class="btn btn-dark btn-sm">Aceptar adopción</a>
            <a class="btn btn-sm btn-danger" href="/perros/editar/{{pets.id}}">Editar</a>
            <form action="/perros/borrar/{{pets.id}}" method="POST">
                <button class="btn btn-sm btn-dark" type="submit">Eliminar</button>
            </form>
        </div>
        {{/if}}
    </div>
</section>