<div class="container">
    <h2>
        {{pets.name}}
    </h2>
    <h2>
        {{pets.birth}}
    </h2>
    <h2>
        {{pets.description}}
    </h2>
    <h3>
        Albergue al que pertenece: {{pets.cast.name}}
    </h3>
    <h3>
        Dueño: {{pets.owner.username}}
    </h3>

    {{#if roles.isOwner}}

    <div>
        <a class="btn btn-sm btn-danger" href="/perros/editar/{{pets.id}}">Editar</a>
        <form action="/perros/borrar/{{pets.id}}" method="POST">
            <button class="btn btn-sm btn-dark" type="submit">Eliminar</button>
        </form>


    </div>
    {{/if}}
</div>