<div class="container">
    <h2>
        {{name}}
    </h2>
    <h2>
        {{birth}}
    </h2>
    <h2>
        {{description}}
    </h2>
    <h2>
        {{cast.name}}
    </h2>
</div>

<a class="btn btn-sm btn-danger" href="/perros/editar/{{id}}">Editar</a>
<div>
    <form action="/perros/borrar/{{id}}" method="POST">
        <button class="btn btn-sm btn-dark" type="submit">Eliminar</button>
    </form>

</div>
</div>