<div class="container">
    <h2>
        {{name}}
    </h2>
    <h2>
        {{birth}}
    </h2>
    <h2>
        {{description}}
    </h2>
    <h2>
        {{cast.name}}
    </h2>

<<<<<<< HEAD
    <h2>Saaaal</h2>

    {{/each}}
=======
>>>>>>> 0909a254c645b1a8c7346fe13a124f8b594806b1

    {{!-- <div>
        <form action="/movies/{{id}}/delete" method="POST">
            <button class="btn btn-sm btn-dark" type="submit">Eliminar</button>
        </form>
        <br>
        <a class="btn btn-md btn-info" href="/movies/{{id}}/edit">Editar</a>

    </div> --}}