<div class="container">
    <h2>
        {{name}}
    </h2>
    <h2>
        {{birth}}
    </h2>
    <h2>
        {{description}}
    </h2>
    <h3>
      Albergue al que pertenece:  {{cast.name}}
    </h3>
    <h3>
       Dueño del albergue: {{owner.username}}
    </h3>

<<<<<<< HEAD
    <a class="btn btn-sm btn-danger" href="/perros/editar/{{id}}">Editar</a>
    <div>
        <form action="/perros/borrar/{{id}}" method="POST">
            <button class="btn btn-sm btn-dark" type="submit">Eliminar</button>
        </form>

    </div>

=======
<a class="btn btn-sm btn-danger" href="/perros/editar/{{id}}">Editar</a>
<div>
    <form action="/perros/borrar/{{id}}" method="POST">
        <button class="btn btn-sm btn-dark" type="submit">Eliminar</button>
    </form>

</div>
>>>>>>> dcd4b342ecc6921e2587fe4d281513c014e28432
</div>